---
title: What're my options?
layout: base.njk
permalink: canvasdesign.html
---

<body>

    <header class="site-header">



        <h1>What're my options?</h1>

        <p>Kat's demo site showcasing possible interactions for courses at ODE.</p>
    </header>

    <main>
        <h2>Here's the canvas design page!</h2>
    </main>
</body>